.tracker-layout {
  border: 1px solid black;
  margin-top: 20px;
  text-align: center;
}

.trasaction-sec {
  text-align: start;
}

.expense-inp {
  width: 220px;
  height: 25px;
}

.btn {
  margin-right: 10px;
  height: 30px;
  padding-top: 3px;
}
